section(flex="90" layout="column" layout-xs="column")
	p(style="font-size: 12px; color: white; margin: 0") Desarrollado por
	md-button(style="width: 151px !important; margin: 0" href="https://www.starbrand.mx")
		md-icon(style="width: 153px;" md-svg-icon="img/starbrand.svg")
	